@model OrderViewModel
<div class="row">
    <form asp-action="AddOrder" method="post" asp-controller="Home">
        @await Html.PartialAsync("Partials/_ValidateQuan", Model.AddOrder)
        <button class="btn btn-primary mt-3">Order</button>
    </form>
</div>