@model List<Customer>
<div class="row">
    <h4><strong><u>New Customers</u></strong></h4>
</div>
@{
    int count = 0;
}
@foreach (Customer custo in Model)
{
    count++;
    if (count == 4)
    {
        <a asp-action="CustomerView" asp-controller="Home">Show all customers</a>
        break;
    }
    <h2>@custo.CustomerName joined the store @{
            DateTime fechapost = custo.CreatedAt;
            DateTime fechaAhora = DateTime.Now;
            TimeSpan restante = (fechaAhora - fechapost);
            string hora = "";
            if (restante.Minutes <= 60 && restante.Hours <= 0)
            {
                hora = $"{restante.Minutes} Minute(s) Ago";
            }
            else if (restante.Days > 0)
            {
                hora = $"{restante.Days} Day(s) Ago";
            }
            else
            {
                hora = $"{restante.Hours} Hour(s) Ago";

            }
            @hora
        }</h2>

}